/* shared style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    max-width: 1600px;
    margin: 0 auto;
}

.special-title {
    color: #FF5400;
}

.primary-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.primary-para {
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    padding: 16px 30px;
    border: none;
    color: white;
}

/* nav style */
.navbar {
    display: flex;
}

.nav-logo {
    width: 50%;
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-title {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-list {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list a {
    text-decoration: none;
    color: #424247;
    font-size: 1.25rem;
    font-weight: 400;
}

/* banner style */
.banner {
    min-height: 700px;
    margin-top: 50px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group13\(1\)\(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    text-align: center;
    display: flex;
    margin-bottom: 80px;
}

.banner-text {
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-top: 200px;

}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.banner-description {
    color: #FFF;
    font-weight: 400;
    margin: 24px 0px 64px 0px;
}

.banner-input {
    justify-content: center;
    /* border: 2px solid green; */
    width: 80%;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    gap: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.input-style {
    padding: 16px 84px 16px 16px;
    border-radius: 8px;
    border: none;
}

/* popular section */
.popular-tour {
    display: flex;
    justify-content: space-between;
}

.popular-description {
    margin-top: 80px;
    margin-bottom: 40px;
}

.popular-container li {
    margin-bottom: 24px;
}


/* responsive for mobile device */
@media screen and (max-width:600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        gap: 20px;
    }

    .banner-input {
        flex-direction: column;
    }

    .banner-text {
        padding-bottom: 70px;
    }

    .popular-tour {
        flex-direction: column;
        gap: 10px;
    }

    .popular-container {
        width: 100%;
        padding-left: 10px;
        text-align: center;
    }

    .popular-img {
        width: 100px;

    }

    .popular-img img {
        width: 450px;
        margin-left: 30%;
    }
}