/* shared style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    max-width: 1600px;
    margin: 0 auto;
}

.special-title {
    color: #FF5400;
}

.primary-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.primary-para {
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    padding: 16px 30px;
    border: none;
    color: white;
}

/* nav style */
.navbar {
    display: flex;
}

.nav-logo {
    width: 50%;
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-title {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-list {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list a {
    text-decoration: none;
    color: #424247;
    font-size: 1.25rem;
    font-weight: 400;
}

/* banner style */
.banner {
    min-height: 700px;
    margin-top: 50px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group13\(1\)\(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    text-align: center;
    display: flex;
    margin-bottom: 80px;
}

.banner-text {
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-top: 200px;

}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.banner-description {
    color: #FFF;
    font-weight: 400;
    margin: 24px 0px 64px 0px;
}

.banner-input {
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    gap: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.input-style {
    padding: 16px 84px 16px 16px;
    border-radius: 8px;
    border: none;
}

/* popular section */
.popular-tour {
    display: flex;
    justify-content: space-between;
}

.popular-description {
    margin-top: 80px;
    margin-bottom: 40px;
}

.popular-container li {
    margin-bottom: 24px;
}

/* destination styles */
.destination {
    text-align: center;
    margin-top: 100px;
}

.destination-image-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 20px;
    margin-top: 30px;
}

.country-name {
    color: #FFF;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 800;
    position: absolute;
    top: 25%;
    left: 40%;

}

.destination-image-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    padding: 10px;
}

.des-img-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 2;
    position: relative;

}

.des-img-2 {
    grid-column: 7/span 13;
    grid-row: 1/span 2;
    position: relative;

}

.des-img-3 {
    grid-column: 1/span 4;
    grid-row: 2/span 3;
    position: relative;

}

.des-img-4 {
    width: 63%;
    grid-column: 5/span 9;
    grid-row: 2/span 3;
    position: relative;

}

.des-img-5 {
    grid-column: 10/span 13;
    grid-row: 2/span 3;
    position: relative;

}

.des-img-6 {
    grid-column: 1/span 6;
    grid-row: 3/span 4;
    position: relative;

}

.des-img-7 {
    grid-column: 7/span 13;
    grid-row: 3/span 4;
    position: relative;

}

/* choose styles */
.choose{
    margin-top: 100px;
    
}
.choose-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    gap: 50px;
    /* padding: 20px; */
}
.choose>h3 {
    text-align: center;margin-top: ;
}

.choose>p {
    text-align: center;
    margin-bottom: 48px;
}

.choose-card {
    flex-basis: 48%;
    padding: 40px;
}

.choose-card h3 {
    color: #131318;
    font-size: 1.3rem;
    font-weight: 800;
    margin: 28px 0px;
}

.icons {
    font-size: 3rem;
}

.card-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.card-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}



/* responsive for mobile device */
@media screen and (max-width:600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        gap: 20px;
    }

    .banner-input {
        flex-direction: column;
    }

    .banner-text {
        padding-bottom: 70px;
    }

    .popular-tour {
        flex-direction: column;
        gap: 10px;
    }

    .popular-container {
        width: 100%;
        padding-left: 10px;
        text-align: center;
    }

    .popular-img {
        width: 100px;

    }

    .popular-img img {
        width: 425px;
    }

    .destination-image-container img {
        max-width: 100%;
    }

    .destination-image-container {
        display: block;
    }

    .des-img-1 {
        grid-column: 1/span 1;
        grid-row: 1/span 1;
    }

    .des-img-2 {
        grid-column: 1/span 1;
        grid-row: 2/span 1;

    }

    .des-img-3 {
        grid-column: 1/span 1;
        grid-row: 3/span 1;

    }

    .des-img-4 {
        width: 100%;
        grid-column: 1/span 1;
        grid-row: 4/span 1;

    }

    .des-img-5 {
        grid-column: 1/span 1;
        grid-row: 5/span 1;

    }

    .des-img-6 {
        grid-column: 1/span 1;
        grid-row: 6/span 1;

    }

    .des-img-7 {
        grid-column: 1/span 1;
        grid-row: 7/span 1;

    }
    .choose-card{
        flex-basis: auto;
        
    }
}